.navbar {
    border-radius: 2px;
    box-shadow: 0 6px 10px 0px #333; 
    background-color: #009688 /*rgb(0, 168, 107);*/;
    width: 100%;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Varela Round', sans-serif;
    color: snow;
    font-size: 24px;
    font-weight: 100;
}

#logoImage {
    font-size: 26px;
    font-family: 'Merienda', cursive;
    margin-right: 4px;
    color: #333333;
}

@media screen and (max-width: 991px) {
    #logoImage { display: none; }   /* hide it elsewhere */
    .Typist { display: none; }
}

ul.navbar-nav {
    list-style-type: none;
}

.nav-link{
    text-decoration: none;
}

ul.navbar-nav.a:hover, a:focus, a:active {
    text-decoration: none;
}

ul.navbar-nav a {
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
}

ul.navbar-nav a {
    position: relative;
    padding: 16px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: snow;
}
ul.navbar-nav a::before {
    content: '';  
    position: absolute;
    bottom: 5px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: snow;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}
ul.navbar-nav a:active::before {
    background-color: #000;
}
ul.navbar-nav a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
    text-decoration: none;
}

/* First animated toggler */
.navbar-light .navbar-toggler{
    border-color: transparent;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}

.navbar-toggler span {
   display: block;
   background-color: snow;
   height: 3px;
   width: 25px;
   margin-top: 4px;
   margin-bottom: 4px;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   position: relative;
   left: 0;
   opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
   -webkit-transition: transform .35s ease-in-out;
   -moz-transition: transform .35s ease-in-out;
   -o-transition: transform .35s ease-in-out;
   transition: transform .35s ease-in-out;
}

.navbar-toggler span:nth-child(2) {
   -webkit-transition: all .35s;
   -moz-transition: all .35s;
   -o-transition: all .35s;
   transition: all .35s;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 29px;
    top: 21px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 29px;
    top: 21px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
    ;
}

/*** This section is used for glow boxes in the Navbar  ***/
/*
a {
    color: #333333;
}

a:hover{
    text-decoration: none;
    color: #333333;
}

.hvr-glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    border-radius: 3px;
  }

.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  }
  

li {
    list-style: none;
}*/



/* Highlighted background
::selection {
    background:#333333;
    color:#2dbe60;
}
    
::-moz-selection {
    background:#333333;
    color:#2dbe60;
}
    
::-webkit-selection {
    background:#333333;
    color:#2dbe60;
}

 */
