html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

body {
  background-image: url("./assets/images/brushedalu.png");
  font-family: 'Varela Round', sans-serif;
  color: #333333;
  padding-top: 70px;
  overflow: hidden;
  margin: 0;
}

.pagebody {
  position: absolute;
  width: 100%;
}

.tagWrapper {
  margin: 10px 0px 10px 10px;
  padding: 10px;
  background-color: white;
  min-width: 150px;
  min-height: 100%;
  list-style-position: inside; 
}

.tagLink {
  cursor: pointer;
  list-style-type: none;
  overflow: hidden;
  padding-left: 10px;
  border: 1px solid white;

}
.tagLink:hover {
  background-color: lightblue;
  color: grey;
}
.tagLinkInactive {
  color: royalblue;
  background-color: white;
}
.tagLinkInactive:before {
  content: "+ "
}
.tagLinkActive {
    color: snow;
    background-color: royalblue;
}
.tagLinkActive:before {
  content: "- "
}

.homeTagWrapper {
  margin: 10px;
  background-color: white;
  min-width: 150px;
  min-height: 400px;
  list-style-position: inside; 
}

.headWrapper {
  background-color: white;
  text-align: left;
  font-weight: bold;
}

.homeSidebarWrapper {
  background-color: white;
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.homeSideBar {
  margin-top: 10px;
  padding: 10px;
}

.homeSidebarContent {
  margin-top: 20px;
  font-size: 14px;
  text-align: left;
}

.para {
  font-weight: 400;
  font-size: 12px;
  text-align: left;
}

#tagUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  list-style-position: inside; 
  padding-left: 0px;
}

.modalButton {
  background-color: rgb(0, 150, 136);
  color: snow;
  padding: 5px 10px;
  border-radius: 10px;
  border-color: rgb(0, 150, 136);
  border-style: solid;
  cursor: pointer
}

@media screen and (min-width: 0px) and (max-width: 896px) {
  .tagWrapper { display: none; } 
  .homeTagWrapper { display: none; } 
}

.commentContainer{
  margin-top:0px;
}

.commentHeader {
  background-color:#007bff;
  color: snow;
  padding: 5px;
}

.commentBtn{
  margin: 10px 0px 20px 0px;
}