body {
  background-image: url("./assets/images/brushedalu.png");
  font-family: 'Varela Round', sans-serif;
  color: #333333;
}

.tagWrapper {
  margin: 10px;
  padding: 10px;
  background-color: white;
  min-width: 150px;
  min-height: 500px;
  list-style-position: inside; 
  padding-left: 0px;
}

.headWrapper {
  background-color: white;
  text-align: left;
  font-weight: bold;
}

#tagUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  list-style-position: inside; 
  padding-left: 0px;
}

@media screen and (min-width: 0px) and (max-width: 896px) {
  .tagWrapper { display: none; } 
}



