.public-DraftEditor-content {
    min-height: 300px;
  }

  .categorySelect {
    z-index: 99;
  }

  .createForm {
    margin-top: 50px;
  }

  .createBtn{
    background-color: white;
    margin: 10px 0px 10px 0px;
  }