.public-DraftEditor-content {
    min-height: 300px;
  }

  .guidelineWrapper {
    margin: 10px;
    padding: 10px;
    background-color: white;
    min-width: 150px;
  }

  .guidelineHeader{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 20px;
  }

  .guidelineSidebarWrapper {
    background-color: white;
    text-align: left;
    font-size: 14px;
    text-align: left;
  }

  .formBody{
    background-color: white;
    margin-bottom: 40px;
    margin-top: 10px;
  }

  .postHeader{
    margin-bottom:20px;
  }

  .categorySelect {
    z-index: 99;
  }

  .createForm {
    margin-top: 50px;
  }

  .createBtn{
    background-color: white;
    margin: 10px 0px 10px 0px;
  }

  @media screen and (min-width: 0px) and (max-width: 896px) {
    .GuidelineWrapper { display: none; }  
  }