.gistDescriptionBox {
    left:0;
    right:0;
    border-radius: 2px;
    box-shadow: 0 6px 10px 0px #333; 
    /*z-index:-1;
    background-image: url("../../assets/images/brushedalu.png");*/
    background-color: white;
    margin-top: 6px;
    text-align: center;
}

.gistContainer {
    margin-top: 50px;
}

.gist-header {
    padding-top: 10px;
}

.gist-body {
    padding: 10px;
}

.gistP {
    font-family: 'Karma', serif;
    font-size: 16px;
    text-align: left;
    padding: 0px 0px 0px 20px;
}

.gistImg {
    
}

@media screen and (min-width: 0px) and (max-width: 896px) {
    .gistImg { display: none; } 

  }

