.wrapper {
  position: absolute;
}

.buttonWrapper {
  display: inline-block;
  /* display: block; */
}

.button {
  background: #1b1b1b;
  color: white;
  font-size: 18px;
  border: 0;
  padding-top: 5px;
  vertical-align: bottom;
  height: 34px;
  width: 36px;
  border-radius: 4px;
}

.button svg {
  fill: #ddd;
}

.button:hover, .button:focus {
  background: #5e5e5e;
  outline: 0; /* reset for :focus */
}

.active {
  background: #5e5e5e;
}

.active svg {
  fill: #2ba228;
}