.wrapper {
  position: absolute;
}

.buttonWrapper {
  display: inline-block;
  /* display: block; */
}

.button {
  background: #1b1b1b;
  color: white;
  font-size: 14px;
  border: 0;
  padding-top: 3px;
  vertical-align: bottom;
  height: 28px;
  width: 28px;
  border-radius: 4px;
}

.button svg {
  fill: #ddd;
}

.button:hover, .button:focus {
  background: #030303;
  outline: 0; /* reset for :focus */
}

.active {
  background: #030303;
}

.active svg {
  fill: #2ba228;
}