.editor {
  box-sizing: border-box;
  border: 1px solid white;
  cursor: text;
  padding: 16px;
  border-radius: 4px;
  margin-bottom: 2em;
  margin-left: 0;
  margin-right: 0;
  box-shadow: inset 0px 1px 8px -3px rgb(131, 121, 121);
  background: #39393A;
  min-height: 400px;
  color: #d8d8d8;
  font-size: 14px;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 100%;
}
