.profileContainer {
    background-color: white;
    margin: 10px 0px 0px 0px;
    padding: 20px 0px 20px 0px;
    min-height: 100%;
}

.profileHeader {
    
}

.profileWrapper {
    margin: 10px;
    padding: 10px;
    background-color: white;
    min-width: 165px;
    text-align: center;
  }

  .profileSidebarHeader{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 20px;
  }

  .profileSidebarWrapper {
    background-color: white;
    text-align: left;
    font-size: 14px;
    text-align: left;
  }

  .tipButton {
      margin-top: 20px;
  }

  .customTipField {
      max-width: 145px;
  }

  .customTipButton {
      font-size: 12px;
  }

  .moneybutton {
      padding-left: 50px;
  }

 