.bioContainer {
    margin: 10px;
    padding: 0px 10px 10px 10px;
}

.bioHeader{
    margin: 0px;
}

.editBio {
    margin-top: 10px;
}

.draftTitle {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

.draftDate{
    font-size: 12px;
    margin-bottom: 5px;
}

.draftInfo {
    font-size: 12px; 
}

.draftButtons{
    color: #007bff!important;
    margin-bottom: 10px;
}

.draftHr {
    clear: both;
}

.draftDetail {
    background-color: white;
    margin: 10px 10px 40px 0px;
    padding: 20px 0px 20px 0px;
    min-height: 100%;
}

#mbEdit {
    text-align: right;
    margin-bottom: 0px;
}