.Modal, .GistModal {
    background: white;
    margin:auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    z-index: 3;
    position: absolute;
    left:0;
    right: 0;
    border-radius: 10px;
    /* border-radius: 2px; */
    box-shadow: 0 6px 10px 0px #333; 
}

.Modal {   
    width:40%;
}
.GistModal {
    width: 70%;
}

.close {
    text-align: right;
    color: rgb(224, 0, 0);
}

#overlay {
    position: fixed;
    /* display: none; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

.header {
    text-align: center;
    font-family: 'Merienda', cursive;
    font-weight: bold;
}

.hrModals {
    border-color: rgba(0, 150, 136); 
    border-style: outset;
    border-width: 2px;
}

.close:hover {
    color: rgb(224, 0, 0)!important;
}

@media only screen and (max-width: 768px) {
.Modal {
    width: 80%;
}
} 