.Modal {
    background: white;
    width:800px;
    /* height:100%; */
    margin:auto;
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
    padding: 20px;
    z-index: 3;
    position: absolute;
    left:0;
    right: 0;
}
.modals2-3{
    width: 500px;
}
.modal-gist {
    width:75%;
}

.close {
    text-align: right;
}

#overlay {
    position: fixed;
    /* display: none; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

.header {
    text-align: center;
    font-family: 'Merienda', cursive;
    font-weight: bold;
}

hr {
    border-color: (0, 150, 136); 
    border-style: outset;
    border-width: 2px;
    
}