.listItem {
    font-size: 12px;
    margin: 10px;
    padding: 5px 10px 5px 10px;
    border-color: darkcyan;
}

.post-body {
    padding: 10px 10px 0px 15px;
    width: 100%;
}

.infoContainers {
    display: inline;
}

.smallPostText {
    font-size: 12px;
    display: inline;
}

.edit-btn-float-right {
  float: right;
  cursor: pointer;
}

.post-subtitle{
    color: grey;
    margin-bottom: 10px;
    font-size: 12px;
}

.post-text {
    font-size: 12px;
    margin: 0px 0px 10px 0px;
}

.postMeta {
    display: inline;
}

.fltRight {
    float: right;
}

.tagList{
    color: grey;
    float: right;
    list-style: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.flair {
    padding: 0px 5px 0px 5px;
    text-transform: capitalize;
    text-decoration: none;
}

.flair a:hover, a:link{
    text-decoration: none;
}

.listokaFlair{
    color: snow;
    background-color: darkcyan;
}

.bitcoin-storyFlair{
    color: snow;
    background-color: royalblue;
}

.storiesFlair{
    color: snow;
    background-color: orangered;
}
