.listItem {
    /*animation-name: slide-in-bck-bottom;
    animation-duration: 1s;*/
    margin: 10px;
}

.delete-btn {
  float: right;
  cursor: pointer;
}

.card-subtitle{
    color: grey;
    margin-bottom: 10px;
}
