.postBtn {
    background-color: #009688;
    color: snow;
    font-family: 'Varela Round', sans-serif;
    border: none;
}

.postBtn:hover {
    background-color: #4aaaa5;
    color: snow;
    font-family: 'Varela Round', sans-serif;
}

